.NewBrunswickRegionMap {
	position: relative;
	svg {
		aspect-ratio: 93 / 90;
		display: inline-block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		max-height: 100%;
		min-width: 2em;
		position: relative;
	}
}
