.SelectFishMobile {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width: 100%;
	background-color: var(--background-color);
	@apply shadow-inverted;
	.fish {
			font-size: .8em;
			flex-shrink: 0;
			line-height: 1;
			text-align: center;
			flex-basis: 8em;
			height: 8em;
			border-right: 1px solid black;
			img {
					height: 2em;
					padding: 0 16px;
					object-fit: contain;
					margin: 1em auto 0 auto;
			}
			.name {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 4em;
					padding: 0 1em;
					color: var(--heading-color);
			}
			&.selected {
					background-color: var(--highlight-color);
					img {
							filter: invert(1);
					}
					.name {
							color: white;
					}
			}
	}
}