@use '/resources/css/app.scss';

.ResponsiveNavLink {
    @apply flex w-full items-center border-l-4 py-2 pl-4 pr-3 transition duration-150 ease-in-out focus:outline-none;
    color: var(--heading-color);
    border-color: var(--highlight-color-translucent);

    &:hover {
        border-color: var(--highlight-color);
        background-color: var(--highlight-color-transparent);
    }
    &.active {
        border-color: var(--highlight-color);
        background-color: var(--highlight-color-translucent);
        color: var(--heading-color);
    }
}
