.Combobox {
	&.hidden {
		display: none;
	}
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;
	.input {
		flex-grow: 0;
		display: flex;
		input {
			height: 2.5em;
			margin-right: -2em;
			padding-right: 2em;
			&:focus {
				border-color: var(--highlight-color);
			}
		}
		button {
			&:focus {
				border-color: var(--highlight-color);
			}
			svg {
				width: 1.25em;
				height: 1.25em;
			}
		}
	}
	ul {
		flex-grow: 1;
		overflow-y: auto;
		visibility: collapse;
		cursor: default;
		li {
			background-color: var(--background-color);
			&.selected {
				@apply font-bold;
			}
			&:hover,
			&.highlighted {
				background-color: var(--highlight-color-lighter);
			}
		}
		&.open {
			visibility: visible;
		}
	}
}
